.slider {
    position: relative;
}

.slider_Wrapper {
    height: 100%;
    width: 100%;
    background-color: #ED165F;
    padding-bottom: 10em;
}

.slider_Wrapper img {
    object-fit: cover;
    max-width: 100%;
    margin: 0 auto;
}

.slider_floatText h3 {
    color: #fff;
}