.header-title {
	display: block;
	text-align: center;
	overflow: hidden;
	white-space: nowrap;
	margin: 2em 0;
	& span {
		position: relative;
		display: inline-block;
		font-size: 40px;
		font-weight: 700;
		&:before,&:after {
			content: "";
			position: absolute;
			top: 50%;
			width: 9999px;
			height: 2px;
			background: #909090;
		}
		&:before {
			right: 100%;
			margin-right: 3em;
		}
		&:after {
			left: 100%;
			margin-left: 3em;
		}

	}
}

.sub-title{
	display: block;
	text-align: center;
	width: 70%;
	margin: auto;
	font-size: 24px;
	font-weight: 400;
}
@media only screen and (max-width: 768px) {
	.sub-title{
		font-size: 15px;
		width: 85%;
	}
}
.cards-section {
	margin: 4em;
	display: grid;
	grid-template-columns: repeat( auto-fit, minmax(297px, 1fr) );
	grid-gap: 7em 3.57em;
	text-align: center;
}

.ant-card-cover img{
	height: 455px;
	object-fit: cover;
}